NET CLK LOC = V10 | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz;	// 100MHz clock signal

// SEVEN SEGMENT DISPLAY CONNECTIONS
NET LED1_CONTROL_SIGNAL LOC = B3;
NET LED2_CONTROL_SIGNAL LOC = A2;
NET LED3_CONTROL_SIGNAL LOC = B2;
NET LED_CHANGE_TICK LOC = P16;

NET DISPLAY_BITS[0] LOC = A5;
NET DISPLAY_BITS[1] LOC = C6;
NET DISPLAY_BITS[2] LOC = D6;
NET DISPLAY_BITS[3] LOC = C5;
NET DISPLAY_BITS[4] LOC = C4;
NET DISPLAY_BITS[5] LOC = A4;
NET DISPLAY_BITS[6] LOC = B4;
NET DISPLAY_BITS[7] LOC = A3;

// RESET CONNECTIONS
NET RESET_SWITCH LOC = M18 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET RESET LOC = P15;

// UART CONNECTIONS
NET RX LOC = A8;