NET CLK LOC = V10 | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz; // 100 MHz clock signal

// UART CONNECTIONS
NET TX LOC = B8;
NET RX LOC = A8;

// RESET CONNECTIONS
NET RESET_SWITCH LOC = M18 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET RESET LOC = P15;

// OTHER SIGNALS
NET RX_DONE_TICK LOC = P16;