NET CLK LOC = V10 | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz;	// 100MHz clock signal

NET LED1 LOC = B3;
NET LED2 LOC = A2;
NET LED3 LOC = B2;
NET LED_CHANGE_TICK LOC = P15;

NET DISPLAY_BITS[0] LOC = A5;
NET DISPLAY_BITS[1] LOC = C6;
NET DISPLAY_BITS[2] LOC = D6;
NET DISPLAY_BITS[3] LOC = C5;
NET DISPLAY_BITS[4] LOC = C4;
NET DISPLAY_BITS[5] LOC = A4;
NET DISPLAY_BITS[6] LOC = B4;
NET DISPLAY_BITS[7] LOC = A3;