NET clk LOC = V10 | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz;	// 100MHz clock signal
NET switch_input LOC = M18 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET switch_output LOC = P15;