NET CLK LOC = V10 | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz;	// 100MHz clock signal

NET LED1 LOC = B3;
NET LED2 LOC = A2;
NET LED3 LOC = B2;
NET TICK LOC = P15;

NET WIRE[0] LOC = A5;
NET WIRE[1] LOC = C6;
NET WIRE[2] LOC = D6;
NET WIRE[3] LOC = C5;
NET WIRE[4] LOC = C4;
NET WIRE[5] LOC = A4;
NET WIRE[6] LOC = B4;
NET WIRE[7] LOC = A3;