NET clk LOC = V10 | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz; // 100 MHz clock signal

// UART CONNECTIONS
NET tx LOC = B8;
NET rx LOC = A8;

// RESET CONNECTIONS
NET reset_switch LOC = M18 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET reset LOC = P15;

#// OTHER SIGNALS
#NET RX_DONE_TICK LOC = P16;